<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <center>
        <form action='login' method="post">
            {% csrf_token %}
            <label for="un">username</label>
            <input type="text" id="un" name="un"><br></br>
            <label for="pw">password</label>
            <input type="text" id="pw" name="pw"><br></br>
            <input type="submit" value="login">
        </form>
    </center>
</body>
</html>